* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    padding: 1rem;
}


.fruit-container button {
    padding: 10px 15px;
    font-weight: bold;
    margin: .5rem;
    border: none;
    background-color: #cecece;
    border-radius: .3rem;
    transition: all 0.2s ease-in-out;
}

.fruit-container button:hover {
    background-color: #FDDA92;
    cursor: pointer;
}

.reset-button {
    width: 100%;
    padding: 10px 15px;
    font-weight: bold;
    border: none;
    background-color: #cecece;
    border-radius: .3rem;
    transition: all 0.2s ease-in-out;
}

.reset-button:hover {
    background-color: #FDDA92;
    cursor: pointer;
}